<!DOCTYPE html>
<html>
	<head>
		<title>Alexa - Ariba Service</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- ui -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/css/signin.css">
	</head>

  <body>

		<div class="container" >

			<form class="form-signin" role="form">
				<h2 class="form-signin-heading">Ariba - Alexa service authentication</h2>
				<p>Username : </p>
					<input class="form-control" type="text" placeholder="username" required>
				<p>Password : </p>
					<input class="form-control" ng-model="formLogin.pass" type="password" required>
				<p>&nbsp;</p>
				<button class="btn btn-lg btn-primary btn-block" >SUBMIT</button>
			</form>

		</div>

		<!-- bootstrap -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	</body>
</html>
